#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Categories=Development;IDE;
Name=eenky
Comment=eenky — The story editor for ereaders running the eenk firmware
Exec=/opt/eenky/eenky --no-sandbox %U
Path=/opt/eenky/
Icon=eenky
